body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;

}

h1 {
    color: darksalmon;
    font-weight: bold;
    font-style: italic;
}
h2 {
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: 300;
}

p {
    color: slategrey;
    font-weight: 500;
    font-family: cursive;
    font-style: normal;

}
button:hover {
    background-color: purple;
    color: white;
}

input:focus {
    color: violet;
    border: violet;
}

