body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13pt;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;
    font-weight: 500;
    color: sandybrown;
    font-style: italic;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: tan;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: tan;
    font-variant: small-caps;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-style: normal;

}

button:hover {
    background-color: tan;
    }

    button:focus {
        color: tan;
    }

    #Personalizar {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-color: white;
    }
    
    #Enviar {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }