h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    font-weight: 500;
    color: yellowgreen;
    font-style: italic;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-style: normal;

}