body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid tan;
}

button {
    color: black;
    background: tan;
    
}

.texto1 h3 img {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h3 {
    display: flex;
    justify-content: flex-end;
}


.texto {
    display: flex;
    justify-content: flex-start;
}

.texto1 {
    display: flex;
    justify-content: space-between;
}


.imagen {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    
}


